<h1>Formulario Reactivo</h1>
<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <div>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" formControlName="nombre">
    <span *ngIf="formulario.controls['nombre'].invalid && formulario.controls['email'].touched">Campo inválido</span>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" id="nombre" formControlName="email">
    <span *ngIf="formulario.controls['email'].invalid && formulario.controls['email'].touched">Campo inválido</span>
  </div>
  <div>
    <label for="contrasena">Contraseña</label>
    <input type="password" id="nombre" formControlName="contrasena">
    <span *ngIf="formulario.controls['contrasena'].invalid && formulario.controls['email'].touched">Campo inválido</span>
  </div>
  <button type="submit" [disabled]="formulario.invalid">Enviar</button>
</form>